.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.mode {
  width: 100%;
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}

#switch {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 5px;
  
}
.addCard {
  display: flex;
  flex-direction: row;
  
  padding: 3px;
  
}

#add{
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}
.list {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 30px;
  flex-direction: column;
}

#cardlist {
  display: flex;
  flex-direction: row;
}

#front {
  border: 1px solid black;
  height:10%;
  width: 150px;
  background-color:lightyellow;
  padding: 40px;
  margin-right: 2%;
  border-radius: 5%;
}

#back {
  border: 1px solid black;
  height:10%;
  width: 150px;
  background-color:lightcyan;
  padding: 40px;
  margin-left: 2%;
  border-radius: 5%;
}

#delete{
  border: none;
  background: none;
  color: crimson;
  font-size: large;
  margin-left: 4%;
}
